<article class="summary">
    <a href="{{.Permalink}}" data-rel="prefetch">
        <h2 class="summary__title">{{.Title}}</h2>
    </a>

    <div class="meta">
        <time datetime="{{ .Page.PublishDate.Format "2006-01-02T15:04:05" | safeHTMLAttr }}">
            {{ $months := index .Site.Data (i18n "months") }}
            {{ $month := index $months (printf "%d" .Page.PublishDate.Month) }}
            {{ i18n "published" (dict "Day" .Page.PublishDate.Day "Month" $month "Year" .Page.PublishDate.Year) }}
        </time>
    </div>

    {{ with .Params.Image.Src }}
        <amp-img class="summary__image"
            src="{{ . }}"
            layout="responsive"
            width="1280"
            height="720"
            alt="{{ $.Title }}"></amp-img>
    {{ end }}
    <p>{{.Summary}}</p>

    <p class="more">
        <a class="button meta" role="button"
        href="{{.Permalink}}"
        data-rel="prefetch"
        aria-label="{{ i18n "keepReading" }} {{.Title}}">{{ i18n "keepReading" }}</a>
    </p>

</article>
